.homepage-desktop {
  background-color: #fff2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

.homepage-desktop .div {
  background-color: #fff2f2;
  overflow: hidden;
  width: 1440px;
  height: 2334px;
  position: relative;
}

.homepage-desktop .overlap {
  position: absolute;
  width: 1440px;
  height: 290px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/7ppTxyvu/img/rectangle-5.png);
  background-size: 100% 100%;
}

.homepage-desktop .text-wrapper {
  position: absolute;
  width: 1123px;
  top: 144px;
  left: 158px;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.homepage-desktop .overlap-group {
  position: absolute;
  width: 1440px;
  height: 64px;
  top: 0;
  left: 0;
  background-color: #474747;
}

.homepage-desktop .ellipse {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 14px;
  left: 1379px;
  background-color: #ffffff;
  border-radius: 18px;
}

.homepage-desktop .line {
  position: absolute;
  width: 300px;
  height: 3px;
  top: 41px;
  left: 1075px;
}

.homepage-desktop .text-wrapper-2 {
  position: absolute;
  width: 152px;
  height: 27px;
  top: 13px;
  left: 1149px;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #ffffff66;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.homepage-desktop .text-wrapper-3 {
  position: absolute;
  width: 294px;
  top: 326px;
  left: 568px;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #000000;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.homepage-desktop .div-wrapper {
  position: absolute;
  width: 1440px;
  height: 388px;
  top: 1217px;
  left: 0;
  background-color: #00000080;
  background-image: url(https://c.animaapp.com/7ppTxyvu/img/image-7.png);
  background-size: 100% 100%;
}

.homepage-desktop .p {
  position: absolute;
  width: 1293px;
  top: 153px;
  left: 108px;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.homepage-desktop .frame-wrapper {
  position: absolute;
  width: 1452px;
  height: 388px;
  top: 1946px;
  left: -6px;
  background-color: #0000004c;
}

.homepage-desktop .frame {
  width: 282px;
  height: 135px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  top: 126px;
  left: 585px;
  background-color: #ffc9c9;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.homepage-desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.homepage-desktop .overlap-2 {
  position: absolute;
  width: 1338px;
  height: 292px;
  top: 412px;
  left: 51px;
}

.homepage-desktop .group {
  position: absolute;
  width: 1338px;
  height: 292px;
  top: 0;
  left: 0;
}

.homepage-desktop .card {
  position: absolute;
  width: 390px;
  height: 290px;
  top: 0;
  left: 0;
  background-color: #525252;
  border-radius: 20px;
}

.homepage-desktop .overlap-group-2 {
  position: absolute;
  width: 306px;
  height: 76px;
  top: 151px;
  left: 40px;
}

.homepage-desktop .text-wrapper-5 {
  position: absolute;
  width: 255px;
  top: 0;
  left: 36px;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.homepage-desktop .text-wrapper-6 {
  position: absolute;
  width: 306px;
  top: 36px;
  left: 0;
  font-family: "Courier New-Bold", ;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}
.homepage-desktop .image {
  position: absolute;
  width: 269px;
  height: 137px;
  top: 10px;
  left: 60px;
}

.homepage-desktop .img {
  position: absolute;
  width: 259px;
  height: 135px;
  top: 10px;
  left: 550px;
  object-fit: cover;
}

.homepage-desktop .image-2 {
  position: absolute;
  width: 274px;
  height: 147px;
  top: 12px;
  left: 1006px;
  object-fit: cover;
}
image.jpeg {
  float: left;
  height: 300px;
  width: 300px;
  font-family: Veranda;
}
.center {
  float:center;
}
